<%= link_to "デバイス詳細に戻る", admin_device_path(@device) %>

<div
  id="config-prefix-keys"
  data-config-prefix-keys="<%= @config.prefix_keys.to_json %>"
  data-config-installed-modes="<%= @config.mode_plugins.keys.to_json %>"
  data-config-installed-macros="<%= @config.macro_plugins.keys.to_json %>"
></div>

<%= javascript_pack_tag 'setting_editor' %>
