<h1>Events</h1>
<%= form_tag admin_events_path, method: :get do %>
  <%= collection_select :event, :event_type, Event.event_types, :name, :name, include_blank: true %>
  <%= submit_tag "送信する" %>
<% end %>
<%= render "/admin/shared/events_table", events: @events %>
<%= paginate @events %>
