<% if @devices.present? %>
  <h1>デバイス一覧</h1>
  <table class="table">
    <tr>
      <th>name</th>
      <th>ip_address</th>
      <th>hostname</th>
      <th>登録日</th>
      <th>現在のステータス</th>
      <th>デバイスからの最後のアクセスから経過した時間</th>
    </tr>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name.presence || '名前未設定', device_path(device.unique_key) %></td>
        <td><%= device.ip_address %></td>
        <td><%= device.hostname %></td>
        <td><%= device.created_at.to_s(:db) %></td>
        <td><%= device.current_device_status_name %></td>
        <td><%= time_ago_in_words(device.last_access_at) if device.last_access_at.present? %></td>
      </tr>
    <% end %>
  </table>
  <p>
  デバイスを新規登録する
  </p>
<% else %>
  デバイスが未登録です。登録しましょう。
<% end %>
