<% if @devices.present? %>
  <h1>デバイス一覧</h1>
  <table class="table">
    <tr>
      <th>name</th>
      <th>hostname</th>
      <th>登録日</th>
      <th>現在のステータス</th>
      <th>pbm version</th>
      <th>アクセスから経過した時間</th>
    </tr>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name.presence || '名前未設定', device_path(device.unique_key) %></td>
        <td><%= device.hostname %></td>
        <td><%= device.created_at.to_s(:db) %></td>
        <td><%= wrap_device_status_with_style(status: device.current_device_status_name) %></td>
        <td><%= device.pbm_version || "undefined" %></td>
        <td><%= time_ago_in_words(device.last_access_at) if device.last_access_at.present? %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  デバイスが未登録です。
<% end %>
<div class="container-fluid">
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
      <%= link_to "デバイスを新規登録する", new_device_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
