<% if @devices.present? %>
  <table class="table">
    <tr>
      <th>name</th>
      <th>uuid</th>
      <th>ip_address</th>
      <th>hostname</th>
      <th>登録日</th>
      <th>現在のステータス</th>
      <th>最終接続日時</th>
    </tr>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name || '名前未設定', device_path(device.unique_key) %></td>
        <td><%= device.uuid %></td>
        <td><%= device.ip_address %></td>
        <td><%= device.hostname %></td>
        <td><%= device.created_at.to_s(:db) %></td>
        <td>
          <% if device.current_device_status&.recent? %>
            <%= device.current_device_status.status %>
          <% else %>
            <%= "#{device.current_device_status&.status}(old)" %>
          <% end %>
        </td>
        <td><%= time_ago_in_words(device.last_access_at) if device.last_access_at.present? %></td>
      </tr>
    <% end %>
  </table>
  <p>
  デバイスを新規登録する
  </p>
<% else %>
  デバイスが未登録です。登録しましょう。
<% end %>
