<%= link_to "デバイス一覧に戻る",  devices_path %>
<div data-device-id="<%= @device.uuid %>" class="mb-4"></div>
<div data-refresh-action-url="<%= current_status_device_path(@device.unique_key, format: :js) %>"></div>
<div data-offline-action-url="<%= offline_device_path(@device.unique_key, format: :js) %>"></div>

<% if not @device.enable_pbmenv %>
  <div class="alert alert-danger">
    pbmenvを使っていないため一部機能が使えません。
  </div>
<% end %>

<% if @is_demo %>
  <div class="alert alert-danger">
    デモページでは書き込みはできません
  </div>
<% end %>

<div>
  <div class="row">
    <div class="col-md-9 col-lg-9">
      <h1>
        <%= @device.name_or_hostname %>
      </h1>
    </div>

    <div class="col-md-3 col-lg-3">
      <div class="dropdown text-end">
        <a href="#" class="d-block text-decoration-none dropdown-toggle btn btn-success" id="setting" data-bs-toggle="dropdown" aria-expanded="false">
          デバイスの設定
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="setting">
          <% if @device.enable_pbmenv %>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deviceNameModal">このデバイス名を変更する</a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#pbmUpgradeModal">PBMのバージョンアップ</a></li>
            <li><a class="dropdown-item" href="#" onClick="openRestartModal()">デバイスのOSを再起動する</a></li>
            <li><a class="dropdown-item" href="#" onClick="openRestoreSettingModal()">設定ファイルを復元する</a></li>
          <% else %>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deviceNameModal" href="#">このデバイス名を変更する</a></li>
            <li><a class="dropdown-item disabled" href="javascript:void(0)">PBMのバージョンアップ</a></li>
            <li><a class="dropdown-item disabled" href="javascript:void(0)">デバイスのOSを再起動する</a></li>
            <li><a class="dropdown-item disabled" href="javascript:void(0)">設定ファイルを復元する</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<table class="table mb-4">
  <tr>
    <th>現在のステータス</th>
    <td>
      <div id="device_current_device_status">
        <%= wrap_device_status_with_style(status: @device.current_device_status_name) %>
      </div>
    </td>
  <tr>
  <tr>
    <th>pbm version</th>
    <td><%= @device.pbm_version || "undefined" %></td>
  <tr>
  </tr>
    <th>デバイスからの最後のアクセスから経過した時間</th>
    <td>
      <div id="device_current_last_access_at">
        <% if @device.last_access_at.present? %>
          <%= time_ago_in_words(@device.last_access_at) %>
        <% end %>
      </div>
    </td>
  <tr>
  </tr>
    <th>hostname</th>
    <td><%= @device.hostname %></td>
  <tr>
</table>

<h2>
  現在のボタン設定
</h2>

<div class="mb-2">
<% if @latest_loading_config_event&.body.nil? %>
  <%= link_to "現在の設定を保存する", nil, class: "disabled btn btn-success" %>
<% elsif (@is_demo || current_user.can_create_saved_buttons_settings?) %>
  <%= link_to "現在の設定を保存する", nil, data: { bs_toggle: "modal", bs_target: "#saveSettingModal" }, class: "btn btn-success" %>
<% else %>
  <%= link_to "現在の設定を保存する", nil, class: "disabled btn btn-success mb-2" %>
  <div class="alert alert-danger">
    保存数の上限である<%= User::MAX_SAVED_BUTTONS_SETTINGS_COUNT %>件に達したため、新しく保存することができません。
  </div>
<% end %>
</div>

<% if @latest_loading_config_event&.body %>
  <pre style="background-color: #F0F0F0;">
<%= @latest_loading_config_event&.body&.to_yaml %>
  </pre>
<% else %>
  <p>表示できる設定ファイルがありません</p>
<% end %>

<script>
  function openRestartModal() {
    $("#restartModal").modal("show");
    $.post("<%= ping_device_path(@device.unique_key) %>");
    startWatchdogOfPing();
    return false;
  }
  function openRestoreSettingModal() {
    $("#restoreSettingModal").modal("show");
    $.post("<%= ping_device_path(@device.unique_key) %>");
    startWatchdogOfPing();
    return false;
  }

  // ページを表示したときにdeviceへ疎通する
  $(function(){
    $('.toast').toast({});
    $.post("<%= ping_device_path(@device.unique_key) %>");
  });
</script>

<% if @saved_buttons_setting_form %>
  <%= render "devices/save_setting_modal", form: @saved_buttons_setting_form %>
<% end %>
<%= render "devices/restore_setting_modal", device: @device, saved_buttons_settings: @saved_buttons_settings %>
<%= render "devices/upgrade_pbm_modal", device: @device %>
<%= render "devices/restart_modal", device: @device %>
<%= render "devices/progress_modal" %>
<%= render "devices/device_name_modal", default_device_name: @device.name, device: @device %>
<%= render "devices/toasts" %>
