<%= link_to "デバイス一覧に戻る",  devices_path %> <%= ">" %> <%= @device.uuid %>
<div data-device-id="<%= @device.uuid %>"></div>

<div>
  <div class="row">
    <div class="col-md-10 col-lg-10">
      <h1>
        <%= @device.name || @device.hostname %>
      </h1>
    </div>

    <div class="col-md-2 col-lg-2">
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="setting" data-bs-toggle="dropdown" aria-expanded="false">
          デバイスの設定
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="setting">
          <li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#deviceNameModal" href="#">このデバイス名を変更する</a></li>
          <li><a class="dropdown-item" href="#">PBMバージョンアップ</a></li>
          <li><a class="dropdown-item" href="#" onClick="openRestartModal()">デバイスのOSを再起動する</a></li>
          <li><a class="dropdown-item" href="#">設定ファイル一覧</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <tr>
    <th>現在のステータス</th>
    <td>
      <% if @device.current_device_status&.recent? %>
        <%= @device.current_device_status.status %>
      <% else %>
        <%= "信号なし" %>
      <% end %>
    </td>
  <tr>
  <tr>
    <th>pbm version</th>
    <td><%= @device.pbm_version || "undefined" %></td>
  <tr>
  </tr>
    <th>最終接続日時</th>
    <td><%= time_ago_in_words(@device.last_access_at) if @device.last_access_at.present? %></td>
  <tr>
  </tr>
    <th>hostname</th>
    <td><%= @device.hostname %></td>
  <tr>
  </tr>
    <th>ip_address</th>
    <td><%= @device.ip_address %></td>
  <tr>
  </tr>
    <th>device_id</th>
    <td><%= @device.uuid %></td>
  <tr>
</table>

<h2>
  現在のボタン設定
</h2>

<%= link_to "現在の設定を保存する", nil %>

<pre style="background-color: #F0F0F0;">
<%= @device.latest_loading_config_event&.body&.to_yaml %>
</pre>

<script>
  function openRestartModal() {
    $("#restartModal").modal("show");
    $.post("<%= ping_device_path(@device.unique_key) %>");
    return false;
  }
</script>

<%= render "restart_modal", device: @device %>
<%= render "device_name_modal", default_device_name: @device.name, device: @device %>
