<p>
  <%= link_to "機能一覧",  feature_root_path %>
  -> スプラトゥーン2連携「イラスト投稿でのドットの自動打ち」
  -> <%= link_to "スケッチ一覧",  feature_splatoon2_sketches_path %>
  -> <%= link_to "スケッチ「#{@sketch.name}」",  feature_splatoon2_sketches_path(@sketch) %>
  -> <%= "デバイスの送信する" %>
</p>

<h1>デバイスの送信する</h1>
送信予定の入力は以下の通りです。
<pre style="font-size: 0.001em; width: 2000px;">
<%= @dots %>
</pre>
