<p>
  <%= link_to "機能一覧",  feature_root_path %>
  -> スプラトゥーン2連携「イラスト投稿でのドットの自動打ち」
  -> <%= link_to "スケッチ一覧",  feature_splatoon2_sketches_path %>
  -> <%= link_to "スケッチ「#{@sketch.name}」",  feature_splatoon2_sketch_path(@sketch.id) %>
  -> <%= "デバイス「#{@device.name}」" %>
  -> <%= "デバイスに送信する" %>
</p>

<h1>デバイスに送信する</h1>

<div class="alert alert-danger">
  デバイスに書き込み中はこのウィンドウを閉じないでください。 <br>
  書き込みを開始するときは、カーソルを一番左上に移動してください。<br>
  筆の太さは一番細いのを選択してください。<br>
  高速(0.03秒)の場合、およそ40分かかります。
</div>

打ち込み速度:
<%= link_to_if @dotting_speed != "0.03", "高速(0.03秒)", feature_splatoon2_sketch_device_drawing_sketch_path(@sketch.id, @device.unique_key, dotting_speed: "0.03"), data: { confirm: "書き込み速度を変えるために画面を再読み込みします。書き込み中の場合は書き込みが停止しますがよろしいですか？" }  %>
<%= link_to_if @dotting_speed != "0.06", "普通(0.06秒)", feature_splatoon2_sketch_device_drawing_sketch_path(@sketch.id, @device.unique_key, dotting_speed: "0.06"), data: { confirm: "書き込み速度を変えるために画面を再読み込みします。書き込み中の場合は書き込みが停止しますがよろしいですか？" }  %>
<%= link_to_if @dotting_speed != "0.1", "ゆっくり(0.1秒)", feature_splatoon2_sketch_device_drawing_sketch_path(@sketch.id, @device.unique_key, dotting_speed: "0.1"), data: { confirm: "書き込み速度を変えるために画面を再読み込みします。書き込み中の場合は書き込みが停止しますがよろしいですか？" }  %>
<br>
※イラストのドットが乱れたり、ラズパイの負荷が高い時は、打ち込み速度を遅くしてください。
<br>
<br>


<div class="hide"
     data-controller="splatoon2-sketch-drawer2"
     data-splatoon2-sketch-drawer2-data-value="<%= @flatten_binarization_macros.to_json %>"
     data-splatoon2-sketch-drawer2-request_path-value="<%= feature_splatoon2_sketch_device_drawing_sketch_path(@sketch.id, @device.unique_key) %>">
  ステータス: <span data-splatoon2-sketch-drawer2-target="status"></span><br>
  進捗率: <span data-splatoon2-sketch-drawer2-target="progress"></span><br>
  進捗: <span data-splatoon2-sketch-drawer2-target="position"></span><br>
  経過時間: <span data-splatoon2-sketch-drawer2-target="timer"></span><br><br>

  <input type="hidden" value="3000" data-splatoon2-sketch-drawer2-target="send_interval">
  <button class="btn btn-primary" data-action="click->splatoon2-sketch-drawer2#start">書き込む</button>
  <button class="btn btn-success" data-action="click->splatoon2-sketch-drawer2#reset">最初に戻る</button>
  <button class="btn btn-danger" data-action="click->splatoon2-sketch-drawer2#stop">停止する</button>
</div>

<hr>

書き込み対象<br>

<img border="1" data-controller="splatoon2-sketches" data-splatoon2-sketches-image-path-value="<%= cropped_monochrome_image_feature_splatoon2_sketch_path(@sketch.id) %>">

<% if @asc_art %>
<hr>
<pre>
<%= @asc_art %>
</pre>
<% end %>
