<h1>設定ファイルの一覧</h1>

<% if @saved_buttons_settings.present? %>
<table class="table">
  <tr>
    <th class="col-md-2">名前</th>
    <th class="col-md-1">メモ</th>
    <th class="col-md-1">登録日</th>
    <th class="col-md-7"></th>
  </tr>
  <%= render partial: 'edit_modal', collection: @saved_buttons_settings, as: :saved_buttons_setting %>
  <%= render partial: 'edit_content_modal', collection: @saved_buttons_settings, as: :saved_buttons_setting %>
  <% @saved_buttons_settings.each do |saved_buttons_setting| %>
    <tr>
      <td>
        <% if saved_buttons_setting.public_saved_buttons_setting %>
          <%= link_to saved_buttons_setting.name || '未設定', public_saved_buttons_setting_path(saved_buttons_setting.public_saved_buttons_setting.unique_key) %>
          <br>
          <span class="badge bg-success">
            <%= saved_buttons_setting.public_saved_buttons_setting.created_at.to_s(:jp) %>
          </span>
          から公開
        <% else %>
          <%= saved_buttons_setting.name || '未設定' %>
        <% end %>
      </td>
      <td><%= simple_format saved_buttons_setting.memo %></td>
      <td><%= saved_buttons_setting.created_at.to_s(:db) %></td>
      <td>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <%= link_to "名前とメモを変更", "#", class: 'btn btn-success', data: { bs_toggle: "modal", bs_target: "##{dom_id(saved_buttons_setting)}" } %>
            </div>
            <div class="col-4">
              <%= link_to "本文を変更", "#", class: 'btn btn-success', data: { bs_toggle: "modal", bs_target: "##{dom_id(saved_buttons_setting)}_content" } %>
            </div>
            <div class="col-2">
              <%= link_to "削除", saved_buttons_setting_path(saved_buttons_setting.id), method: :delete, class: 'btn btn-danger', data: { confirm: "削除しますがよろしいですか？" } %>
            </div>

            <div class="col-2">
              <% if saved_buttons_setting.public_saved_buttons_setting %>
              <%= link_to "公開をやめる", saved_buttons_setting_public_saved_buttons_setting_path(saved_buttons_setting, saved_buttons_setting.public_saved_buttons_setting), class: 'btn btn-danger', data: { method: :delete, confirm: "公開をやめますがよろしいですか？" } %>
              <% else %>
              <%= link_to "公開する", saved_buttons_setting_public_saved_buttons_settings_path(saved_buttons_setting), class: 'btn btn-primary', data: { method: :post, confirm: "この設定ファイルの公開ページを作成しますがよろしいですか？" } %>
            <% end %>
            </div>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>設定ファイルが未登録です</p>
<% end %>
