<h1>SavedButtonsSetting</h1>

<table border=1>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>content</th>
    <th>memo</th>
    <th>created_at</th>
    <th>updated_at</th>
    <th></th>
    <th></th>
  </tr>
  <% @settings.each do |setting| %>
    <tr>
      <td><%= setting.id %></td>
      <td>
        <%= form_tag(admin_saved_buttons_setting_path(setting), method: :patch) do %>
          <%= text_field_tag :name, setting.name %>
          <%= submit_tag '更新する' %>
        <% end %>
      </td>
      <td>
        <pre>
          <%= setting.content.to_yaml %>
        </pre>
      </td>
      <td>
        <%= form_tag(admin_saved_buttons_setting_path(setting), method: :patch) do %>
          <%= text_area_tag :memo, setting.memo %>
          <%= submit_tag '更新する' %>
        <% end %>
      </td>
      <td><%= setting.created_at %></td>
      <td><%= setting.updated_at %></td>
      <td><%= link_to "削除", admin_saved_buttons_setting_path(setting), data: { confirm: "削除していいですか？" }, method: :delete %></td>
      <td><%= link_to :edit_content, edit_admin_saved_buttons_settings_content_path(setting) %></td>
    </tr>
  <% end %>
</table>
