<h1 class="mb-5">ユーザの新規登録</h1>

<%= form_with model: @user, url: user_path, method: :post do |f| %>
  <%= render "shared/validation_errors", f: f %>

  <div class="form-group mb-2">
    <%= f.label :email, "メールアドレス", class: "col-form-label" %>
    <%= f.text_field :email, class: "form-control", required: true %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :password, "パスワード", class: "col-form-label" %>
    <%= f.password_field :password, class: "form-control", required: true %>
  </div>

  <div class="form-group mb-5">
    <%= f.label :password_confirmation, "確認用パスワード", class: "col-form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.submit "登録する", class: "form-control btn btn-primary" %>
  </div>
<% end %>
