<% if @streaming_service.youtube_live? %>
  <tr>
    <th>連携しているyoutubeチャンネル
    </th>
    <td>
      <% if @streaming_service.streaming_service_account %>
        <p>
          <%= image_tag @streaming_service.streaming_service_account.image_url %>
          「<%= @streaming_service.streaming_service_account.name %>」と連携中です。
        </p>

        <p>
          <%= link_to "配信中のライブ配信の動画を選択する", new_streaming_service_youtube_live_path(@streaming_service) %>
        </p>

        <% if @streaming_service_account.video.id %>
          <p>
            <%= link_to "前回連携していたライブ配信を表示する", streaming_service_youtube_live_path(@streaming_service, @streaming_service_account.video.id) %>
          </p>
        <% end %>

        <hr>

        <%= link_to "連携解除", unlink_streaming_service_account_streaming_service_path(@streaming_service), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Googleでログイン", "/auth/google_oauth2", method: :post %>
      <% end %>
    </td>
  </tr>
<% elsif @streaming_service.twitch? %>
  <tr>
    <th>連携しているtwitchチャンネル
    </th>
    <td>
      <% if @streaming_service.streaming_service_account %>
        <p>
          <%= image_tag @streaming_service.streaming_service_account.image_url, size: '100x100' %>
          「<%= @streaming_service.streaming_service_account.name %>」と連携中です。
        </p>

        <p>
          <%= link_to "配信中のライブ配信の動画を選択する", new_streaming_service_twitch_path(@streaming_service) %>
        </p>

        <hr>

        <%= link_to "連携解除", unlink_streaming_service_account_streaming_service_path(@streaming_service), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Twitchでログイン", "/auth/twitch", method: :post %>
      <% end %>
    </td>
  </tr>
<% end %>
