<div class="row">
  <div class="col-11">
    <h1>連携中のストリーミングサービス「<%= @streaming_service.name %>」</h1>
  </div>
  <div class="col-1">
    <%= link_to "編集", edit_streaming_service_path(@streaming_service), class: "btn btn-success" %>
  </div>
</div>

<table class="table mb-4">
  <tr>
    <th>連携先</th>
    <td>
      <div>
        <%= @streaming_service.service_type %>
      </div>
    </td>
  </tr>
  <tr>
    <th>接続するデバイス</th>
    <td>
      <div>
        <%= @streaming_service.device&.name %>
        <% if @streaming_service.device %>
          <%= wrap_device_status_with_style(status: @streaming_service.device.current_device_status_name) %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <th>連携するリモートマクロのグループ</th>
    <td>
      <div>
        <% if @streaming_service.remote_macro_group %>
          <%= link_to @streaming_service.remote_macro_group.name, @streaming_service.remote_macro_group %>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<h2>コマンド一覧</h2>
<div class="alert alert-info">
  <%= api_device_streaming_service_enqueue_remote_macro_commands_path(@streaming_service.device&.uuid || ":uuid", @streaming_service.unique_key, ":word") %>
</div>
