<p>
  <%= link_to "一覧に戻る", streaming_services_path %></span>
</p>

<div class="row">
  <div class="col-11">
    <h1>連携中ストリーミングサービス「<%= @streaming_service.name %>」</h1>
  </div>
  <div class="col-1">
    <%= link_to "編集", edit_streaming_service_path(@streaming_service), class: "btn btn-success" %>
  </div>
</div>

<table class="table mb-4">
  <tr>
    <th>連携先</th>
    <td>
      <%= @streaming_service.service_type %>
    </td>
  </tr>
  <tr>
    <th>接続するデバイス</th>
    <td>
      <% if @streaming_service.device %>
        <%= link_to @streaming_service.device.name, device_path(@streaming_service.device.unique_key) %>
        <%= wrap_device_status_with_style(status: @streaming_service.device.current_device_status_name) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>連携するリモートマクロのグループ</th>
    <td>
      <% if @streaming_service.remote_macro_group %>
        <%= link_to @streaming_service.remote_macro_group.name, @streaming_service.remote_macro_group %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>連携しているyoutubeチャンネル
    </th>
    <td>
      <% if @streaming_service.streaming_service_account %>
        <p>
          <%= image_tag @streaming_service.streaming_service_account.image_url %>
          「<%= @streaming_service.streaming_service_account.name %>」と連携中です。
        </p>

        <p>
          <%= link_to "配信中のライブ配信の動画を選択する", new_streaming_service_youtube_live_path(@streaming_service) %>
        </p>

        <% if @streaming_service_account.video.id %>
          <p>
            <%= link_to "前回連携していたライブ配信を表示する", streaming_service_youtube_live_path(@streaming_service, @streaming_service_account.video.id) %>
          </p>
        <% end %>

        <hr>

        <%= link_to "連携解除", unlink_streaming_service_account_streaming_service_path(@streaming_service), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Googleでログイン", "/auth/google_oauth2", method: :post %>
      <% end %>
    </td>
  </tr>
</table>

<% if @streaming_service.remote_macro_group %>
  <div class="row">
    <div class="col-11">
      <h2>設定中のリモートマクロ一覧</h2>
    </div>
    <div class="col-1">
      <%= link_to '編集', @streaming_service.remote_macro_group, class: "btn btn-success" %>
    </div>
  </div>

  <% @streaming_service.remote_macro_group.remote_macros.each do |remote_macro| %>
    <h4>
      <%= remote_macro.name %>(<%= remote_macro.steps %>)
    </h4>

    <p>トリガーワード</p>
    <ul>
      <% remote_macro.trigger_word_list.each do |word| %>
        <li><%= word %></li>
      <% end %>
    </ul>

    <!--
    <% remote_macro.trigger_word_list.each do |word| %>
      <div class="alert alert-info">
        <%= URI.decode_www_form_component api_device_streaming_service_enqueue_pbm_remote_macro_jobs_url(@streaming_service.device&.uuid || ":uuid", @streaming_service.unique_key, word) %>
      </div>
    <% end %>
    -->
  <% end %>
<% end %>
