<h1>連携中のストリーミングサービス「<%= @streaming_service.name %>」</h1>

<table class="table mb-4">
  <tr>
    <th>連携先</th>
    <td>
      <div>
        <%= @streaming_service.service_type %>
      </div>
    </td>
  </tr>
  <tr>
    <th>接続するデバイス</th>
    <td>
      <div>
        <%= @streaming_service.device&.name %>
      </div>
    </td>
  </tr>
  <tr>
    <th>連携するリモートマクロのグループ</th>
    <td>
      <div>
        <%= @streaming_service.remote_macro_group&.name %>
      </div>
    </td>
  </tr>
</table>

<h2>コマンド一覧</h2>
<div class="alert alert-info">
  <%= api_device_streaming_service_enqueue_remote_macro_commands_path(@streaming_service.device&.uuid || ":uuid", @streaming_service.unique_key, ":word") %>
</div>
