<p>
  <%= link_to "機能一覧",  feature_root_path %>
  -> スプラトゥーン2連携「イラスト投稿でのドットの自動打ち」
  -> <%= link_to "スケッチ一覧",  feature_splatoon2_sketches_path %>
  -> <%= link_to "スケッチ「#{@sketch.name}」",  feature_splatoon2_sketch_path(@sketch.id) %>
  -> 白黒の閾値の編集
</p>

<h1><%= @sketch.name %>の白黒の閾値の編集</h1>

<%= form_with model: @sketch,
  url: feature_splatoon2_sketch_path(@sketch),
  data: {
    controller: "splatoon2-sketch-binary-threshold-previewer" ,
    "splatoon2-sketch-binary-threshold-previewer-image_path-value": monochrome_image_feature_splatoon2_sketch_path(@sketch),
  },
  method: :put do |f| %>
  <%= render "shared/validation_errors", f: f %>

  <div class="form-group row mb-2">
    <%= f.label :binary_threshold, "白黒の閾値(1~100)", class: "col-form-label" %>
    <%= f.range_field :binary_threshold, class: "form-control",
      required: true,
      step: 1,
      min: 0,
      max: 100,
      data: {
        "splatoon2-sketch-binary-threshold-previewer-target": "slider",
        "action": "change->splatoon2-sketch-binary-threshold-previewer#preview",
      } %>
  </div>

  <div class="form-group row mt-5">
    <img border="1" data-splatoon2-sketch-binary-threshold-previewer-target="image">
  </div>

  <div class="form-group row mt-5">
    <%= f.submit class: "form-control btn btn-primary" %>
  </div>
<% end %>
