<%= form_with model: @sketch, url: feature_splatoon2_sketch_path(@sketch), method: :put do |f| %>
  <%= render "shared/validation_errors", f: f %>

  <div class="form-group row mb-2">
    <%= f.label :binary_threshold, "白黒の閾値", class: "col-form-label" %>
    <%= f.text_field :binary_threshold, class: "form-control", required: true %>
  </div>

  <div class="form-group row">
    <%= f.submit class: "form-control btn btn-primary" %>
  </div>
<% end %>
