<p>
  <%= link_to "機能一覧",  feature_root_path %>
  -> スプラトゥーン2連携「イラスト投稿でのドットの自動打ち」
  -> スケッチ一覧
</p>

<h1>登録しているスケッチ一覧</h1>

<% if current_user.can_have_another_splatoon2_sketches? %>
  <div class="container-fluid">
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <%= link_to "スケッチを新規登録する", new_feature_splatoon2_sketch_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% else %>
  <div class='alert alert-warning'>スケッチの登録数の上限に達したため、新しくスケッチを登録できません。</div>
<% end %>


<table class='table'>
  <tr>
  <th>名前</th>
  <th>画像</th>
  <th>白黒の閾値</th>
  <th></th>
  <th></th>
  <th></th>
  </tr>
  <% @sketches.each do |sketch| %>
    <tr>
      <td><%= sketch.name %></td>
      <td>
        <img src='data:<%= sketch.encoded_image %>' height='100'>
        <% if sketch.binary_threshold.present? %>
          <img height='100' data-controller="splatoon2-sketches" data-splatoon2-sketches-image-path-value="<%= monochrome_image_feature_splatoon2_sketch_path(sketch) %>">
        <% end %>
        <% if sketch.crop_data.present? %>
          <img border="1" data-controller="splatoon2-sketches" data-splatoon2-sketches-image-path-value="<%= cropped_monochrome_image_feature_splatoon2_sketch_path(sketch) %>">
        <% end %>
      </td>
      <td><%= sketch.binary_threshold %></td>
      <td><%= link_to '詳細', feature_splatoon2_sketch_path(sketch), class: 'btn btn-info' %></td>
      <td><%= link_to '切り取り範囲を調整する', edit_feature_splatoon2_sketch_path(sketch), class: 'btn btn-primary' %></td>
      <td><%= link_to '白黒具合を調整する', edit_binary_threshold_feature_splatoon2_sketch_path(sketch), class: 'btn btn-primary' %></td>
    </tr>
  <% end %>
</table>
