<h1>登録しているスケッチ一覧</h1>

<div class="container-fluid">
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
      <%= link_to "スケッチを新規登録する", new_feature_splatoon2_sketch_path, class: "btn btn-success" %>
    </div>
  </div>
</div>


<table class='table'>
  <tr>
  <th>名前</th>
  <th>画像</th>
  <th>白黒の閾値</th>
  <th></th>
  <th></th>
  <th></th>
  </tr>
  <% @sketches.each do |sketch| %>
    <tr>
      <td><%= sketch.name %></td>
      <td>
        <img src='data:<%= sketch.encoded_image %>' height='100'>
        <img height='100' data-controller="splatoon2-sketches" data-splatoon2-sketches-image-path-value="<%= monochrome_image_feature_splatoon2_sketch_path(sketch) %>">
      </td>
      <td><%= sketch.binary_threshold %></td>
      <td><%= link_to '詳細', feature_splatoon2_sketch_path(sketch) %></td>
      <td><%= link_to '白黒具合を調整する', edit_feature_splatoon2_sketch_path(sketch) %></td>
      <td><%= link_to '削除', feature_splatoon2_sketch_path(sketch), method: :delete %></td>
    </tr>
  <% end %>
</table>
