<h1><%= @sketch.name %>のスケッチ</h1>

<%= link_to '白黒具合を調整する', edit_feature_splatoon2_sketch_path(@sketch), class: 'btn btn-primary' %>
<%= link_to 'デバイスに送信する', edit_feature_splatoon2_sketch_path(@sketch), class: 'btn btn-info' %>
<%= link_to '削除', feature_splatoon2_sketch_path(@sketch), method: :delete, class: 'btn btn-danger' %>

<h1>画像</h1>

<img src='data:<%= @sketch.encoded_image %>' height='100'>
