
<h1>「<%= @streaming_service_account.name %>」で配信中のライブ</h1>
<% if @live_stream %>
  <table class="table mb-4">
    <tr>
      <th>サムネイル</th>
      <td>
        <div>
          <%= image_tag @live_stream.thumbnails_high_url %>
        </div>
      </td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td>
        <div>
          <%= @live_stream.title %>
        </div>
      </td>
    </tr>
    <tr>
      <th>開始時間</th>
      <td>
        <div>
          <%= @live_stream.published_at.to_s(:jp) %>
        </div>
      </td>
    </tr>
    <tr>
      <th>description</th>
      <td>
        <div>
          <%= @live_stream.description %>
        </div>
      </td>
    </tr>
    <tr>
      <th>chat id</th>
      <td>
        <div>
          <%= @live_stream.chat_id %>
        </div>
      </td>
    </tr>
  </table>
<% else %>
  配信中のライブが見つかりません。画面のリロードをするか、配信を開始してください。
<% end %>
