
<h1>「<%= @streaming_service_account.name %>」で配信中のライブ</h1>
<% if @live_stream %>
  <table class="table mb-4">
    <tr>
      <th>サムネイル</th>
      <td>
        <div>
          <%= image_tag @live_stream.thumbnails_high_url %>
        </div>
      </td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td>
        <div>
          <%= @live_stream.title %>
        </div>
      </td>
    </tr>
    <tr>
      <th>開始時間</th>
      <td>
        <div>
          <%= @live_stream.published_at.to_s(:jp) %>
        </div>
      </td>
    </tr>
    <tr>
      <th>description</th>
      <td>
        <div>
          <%= @live_stream.description %>
        </div>
      </td>
    </tr>
    <tr>
      <th>chat id</th>
      <td>
        <div>
          <%= @live_stream.chat_id %>
        </div>
      </td>
    </tr>
  </table>

  <% if @streaming_service_account.monitors_at %>
    <%= link_to "コメントとの連携を解除する", streaming_service_youtube_live_monitoring_path(@streaming_service, @live_stream.id), method: :delete, class: "btn btn-danger" %><br>
    <%= link_to "コメントを取得してからコマンドを送信する", commands_streaming_service_youtube_live_path(@streaming_service, @live_stream.id), method: :post, remote: true %>
  <% else %>
    <%= link_to "コメントとの連携を解除する", streaming_service_youtube_live_monitoring_path(@streaming_service, @live_stream.id), method: :post, class: "btn btn-success" %>
  <% end %>
<% else %>
  配信中のライブが見つかりません。画面のリロードをするか、配信を開始してください。
<% end %>

<script>
// TODO poolingする
// post streaming_service_youtube_live_commands_path
</script>
