<h1>実行可能なアクション</h1>
<% if @device.current_device_status&.running? || @device.current_device_status&.connected_but_sleeping? %>
  <%= form_tag(admin_device_pbm_jobs_change_pbm_version_index_path(@device.id), method: :post) do %>
    <%= collection_select nil, :pbm_version, SupportPbmVersion.versions, :to_s, :to_s %>
    <%= submit_tag "バージョンを変更する", data: { confirm: "バージョンを変更しますがよろしいですか？" } %>
  <% end %>

  <div>
    <%= link_to :reboot_os, admin_device_pbm_jobs_reboot_os_path(@device), method: :post %>
  </div>
  <div>
    <%= link_to :stop_pbm, admin_device_pbm_jobs_stop_pbm_index_path(@device), method: :post %>
  </div>
  <!--
    <div>
      <%= link_to :reload_pbm_setting, admin_device_pbm_jobs_stop_pbm_index_path(@device), method: :post %>
    </div>
  -->
<% else %>
  <div>
    <%= :change_pbm_version %>
  </div>
  <div>
    <%= :reboot_os %>
  </div>
  <div>
    <%= :stop_pbm %>
  </div>
<% end %>
