<% if params[:device_id] || @device %>
  <% device = devices.first %>
  <div>
    <%= link_to "saved_buttons_settings", admin_device_saved_buttons_settings_path(devices.first) %>
  </div>
  <div>
    <%= link_to "current version", current_admin_device_device_versions_path(devices.first) %>
  </div>
  <div>
    <%= link_to "actions", admin_device_available_pbm_jobs_path(devices.first) %>
  </div>
<% end %>

<table border=1>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>uuid</th>
    <th>ip_address</th>
    <th>hostname</th>
    <th>created_at</th>
    <th>updated_at</th>
    <th>current_status</th>
    <th>last access at</th>
  </tr>
  <% devices.each do |device| %>
    <tr>
      <td><%= link_to device.id, admin_device_path(device) %></td>
      <td><%= device.name %></td>
      <td><%= device.uuid %></td>
      <td><%= device.ip_address %></td>
      <td><%= device.hostname %></td>
      <td><%= device.created_at %></td>
      <td><%= device.updated_at %></td>
      <td>
        <% if device.current_device_status&.recent? %>
          <%= device.current_device_status.status %>
        <% else %>
          <%= "#{device.current_device_status&.status}(old)" %>
        <% end %>
      </td>
      <td><%= time_ago_in_words(device.last_access_at) if device.last_access_at.present? %></td>
    </tr>
  <% end %>
</table>

<% if params[:device_id] || @device %>
  <h2>Actions</h2>
  <table border=1>
    <tr>
      <th>action</th>
      <th>args</th>
      <th>status</th>
      <th>uuid</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>更新から経った時間</th>
      <th></th>
    </tr>
    <% device.pbm_jobs.order(id: :desc).limit(10).each do |pbm_job| %>
      <tr>
        <td><%= pbm_job.action %></td>
        <td><%= pbm_job.args.inspect.truncate(200) %></td>
        <td><%= pbm_job.status %></td>
        <td><%= pbm_job.uuid %></td>
        <td><%= pbm_job.created_at %></td>
        <td><%= pbm_job.updated_at %></td>
        <td><%= time_ago_in_words(pbm_job.updated_at) %></td>
        <td><%= link_to_if pbm_job.can_cancel?, "cancelにする", admin_pbm_job_cancellation_pbm_jobs_path(pbm_job), method: :post %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if params[:device_id] || @device %>
  <h2>DeviceStatus</h2>
  <table border=1>
    <tr>
      <th>status</th>
      <th>pbm_session</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>更新から経った時間</th>
    </tr>
    <% device_statuses.each do |device_status| %>
      <tr>
        <td><%= device_status.status %></td>
        <td><%= link_to device_status.pbm_session.uuid, admin_device_pbm_session_path(device, device_status.pbm_session_id) %></td>
        <td><%= device_status.created_at %></td>
        <td><%= device_status.updated_at %></td>
        <td><%= time_ago_in_words(device_status.updated_at) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
