<table border=1>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>uuid</th>
    <th>ip_address</th>
    <th>hostname</th>
    <th>created_at</th>
    <th>updated_at</th>
    <th>last access at</th>
  </tr>
  <% devices.each do |device| %>
    <tr>
      <td><%= link_to device.id, admin_device_path(device) %></td>
      <td><%= device.name %></td>
      <td><%= device.uuid %></td>
      <td><%= device.ip_address %></td>
      <td><%= device.hostname %></td>
      <td><%= device.created_at %></td>
      <td><%= device.updated_at %></td>
      <td><%= time_ago_in_words(device.last_access_at) if device.last_access_at.present? %></td>
    </tr>
  <% end %>
</table>
