<table border=1>
  <tr>
    <th>id</th>
    <th>uuid</th>
    <th>ip_address</th>
    <th>hostname</th>
    <th>created_at</th>
  </tr>
  <% pbm_sessions.each do |pbm_session| %>
    <tr>
      <td><%= link_to pbm_session.id, admin_device_pbm_session_path(@device, pbm_session.id) %></td>
      <td><%= pbm_session.uuid%></td>
      <td><%= pbm_session.ip_address %></td>
      <td><%= pbm_session.hostname %></td>
      <td><%= pbm_session.created_at %></td>
    </tr>
  <% end %>
</table>

