<!DOCTYPE html>
<html>
  <head>
    <title>ProconBypassManCloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <%= render "shared/logo_svg" %>

    <header class="p-3 mb-3 bg-light border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">PBM Cloud</span>
          </a>

          <% if current_user %>
            <ul class="nav col-8 col-lg-auto me-lg-auto justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 link-secondary">デバイス一覧</a></li>
              <li><a href="/saved_buttons_settings" class="nav-link px-2 link-secondary">設定ファイル一覧</a></li>
              <li><a href="/faq" class="nav-link px-2 link-secondary">FAQ</a></li>
              <li><a href="/faq" class="nav-link px-2 link-secondary">About</a></li>
            </ul>

            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="<%= current_user.profile_image_url %>" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">ユーザ設定</a></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          <% else %>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="<%= new_user_path %>" class="nav-link px-2 link-secondary">Register</a></li>
              <li><a href="/login" class="nav-link px-2 link-secondary">Login</a></li>
            </ul>
          <% end %>
        </div>
      </div>
    </header>

    <div class="container">
      <% flash.each do |key, value| %>
        <% case key %>
        <% when 'notice' %>
          <p class="alert alert-success" role="success">
            <%= value %>
          </p>
        <% when 'alert' %>
          <p class="alert alert-danger" role="danger">
            <%= value %>
          </p>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
