<!DOCTYPE html>
<html>
  <head>
    <title>ProconBypassManCloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <p class="alert alert-<%= key %>">
      <%= value %>
      </p>
    <% end %>

    <div id="nav">
      <% if current_user %>
        <%# link_to "Edit Profile", edit_user_path(current_user.id) %>
        <div>
        devices, 設定
        <%= link_to "Logout", :logout, method: :post %>
        </div>
      <% else %>
        <%= link_to "Register", new_user_path %> |
        <%= link_to "Login", :login %>
      <% end %>
    </div>

    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>

    <%= yield %>
  </body>
</html>
